spring:
  application:
    name: libraryapi
  datasource:
    url: jdbc:postgresql://192.168.56.111:5432/library
    username: casaos
    password: casaos
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
